@mixin size1($font-weight: 400){
  font-size: 36px;
  font-weight: $font-weight;
  font-style: normal;
  line-height: 53px;
}

@mixin size2($font-weight:400){
  font-weight: $font-weight;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

@mixin size3($font-weight: 400){
  font-size: 18px;
  font-weight: $font-weight;
  font-style: normal;
  line-height: 30px;
}

@mixin size4($font-weight: 400){
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: $font-weight;
}