@import "src/asset/utils/fontSize";
@import "src/asset/utils/colors";

@mixin home {
  padding: 30px 200px;
  .leaflet-container{
    height: 510px;
    width: 537px;
  }
  .home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      @include size1(700);
      @include primary700
    }
    p{
      @include size5;
      @include secondary300
    }

    h1,p{
      margin-bottom: 22px;
    }
    @media (min-width: 1680px) {
      img{
        margin-left: 40px;
      }
    }
  }
  .no-result{
    display: flex;
    padding: 60px 170px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EEEFF2;
  }
  .home-result{

    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      margin-top: 13px;
      @include size5(700);
      @include secondary500
    }

    .list-result{
      padding:26px 30px 63px 30px;
      background: #EEEFF2;
      overflow-y: scroll;
      height: calc(510px - 26px - 63px);
      width: 510px;

      h4{
        @include size2(700);
        @include primary700
      }

      p{
        @include size5(700);
        @include primary700
      }

      a{
        @include size5;
        @include light-blue
      }

      .list-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.home{
  @include home;
}